@import '../../node_modules/bootstrap-icons/font/bootstrap-icons';
@import '../../node_modules/sweetalert2/src/sweetalert2';
@import "../../node_modules/select2/src/scss/core";
//@import "../../node_modules/select2-bootstrap-5-theme/src/include-all";

html {
    position: relative;
    min-height: 100%;
}

.table thead tr th {
    text-align: center;
    font-weight: bold;
    font-size: 10pt;
}

.table tbody tr td {
    font-size: 10pt;
}

#session-notif {
    width: 100%;
    float: right;
    position: absolute;
    z-index: 1;
    top: 10px;
}

.fs-12-b {
    font-size: 12pt;
    font-weight: bold;
}


